@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

/* Default to light mode image */
.light-img {
  display: block;
}

.dark-img {
  display: none;
}

/* Switch to dark mode image when dark mode is enabled */
@media (prefers-color-scheme: dark) {
  .light-img {
    display: none;
  }

  .dark-img {
    display: block;
  }
}

